{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<div class="Container fluid mb-3">
    <img src="/static/15.jpg" class="d-block w-100" alt="...">
    </div>
<div class="container my-4" >
    <h2 class="text-center">About Us</h2>
<p><strong>‘Ice Creams Park’</strong></br>
    <div class="container my-4" >

    ‘Ice Creams Park’ is another Indian dessert parlor, concentrated on serving surface-driven little group frozen yogurts with a recharged consideration regarding flavor and sense of taste.</br>
    Proprietor and originator build up every formula explicitly for every individual flavor.
    
    The uprightness of his fixings is never traded off with added substances or handled balancing out. “Each frozen yogurt is made considering the flavor profile first.”</br> With this hands-on methodology, the owner hopes to change the manner in which individuals eat and consider this nostalgic treat, by giving dessert darlings a completely unique and contemporary frozen yogurt encounter.</br>
    
    The owner is an independent restaurateur, with broad cake involvement in some of Raipur's best foundations. In 1998, he opened ‘Ice Creams Park’.</br>
    
    “‘Ice Creams Park’ is my opportunity to express my affection for the quintessential Indian liberality. I have been longing for these flavors, this style, and this place for a considerable length of time.”</p>
</div>
</div>
    {% endblock body %}

